.hidden {
    display: none;
}

.table-content {
    display: flex;
    flex-direction: column;
}

.table-item, .table-header {
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid #1C6EA4;
    border-radius: 14px;
    width: 100%;
}

.table-item>* {
    width: 200px;
    height: 3em;
}
