webc-app-menu[mode=vertical] {
    --background: none;
    flex-grow: 1;
    width: 100%;
    --min-width: 240px;
}

webc-app-error-toast {
    z-index: 100;
}

webc-app-menu[mode=vertical] {
    --min-width: 240px;
}

webc-app-identity {
    pointer-events: none !important;
}

webc-modal::part(position) {
    overflow: auto;
}

webc-modal::part(main) {
    word-break: break-word;
}

webc-modal .header-color {
    color: #565656 !important;
}

.webc-datatable--header {
    font-size: 110%;
    font-weight: bold;
}


.webc-datatable--header,
.data-item {
    border-top: 1px solid #dee2e6;
    padding: 0.75rem;
}

.webc-datatable--header {
    background: #9ACFBD;
}
